# Telegram Bot
TOKEN=1234567890:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
BOT_USERNAME=ProjectBWDL_bot

# FastAPI
API_PORT=22870
WEBAPP_PORT=22870
# для web app нужен https
WEBAPP_HOST=https://webapp2.projectbw.ru

# TURN / STUN (WebRTC)
TURNIP=ip.projectbw.ru
TURNLOGIN=callme
TURNPASSWORD=strongpassword
