aiogram==3.15.0
beautifulsoup4==4.12.3
python-dotenv==1.0.1
requests==2.32.3
requests[socks]
youthon==0.4.3
yt_dlp
loguru==0.7.2
apscheduler
pydub
fastapi
uvicorn
aiohttp
aiohttp_socks
yandex-music
tabulate
uvicorn[standard]
websockets