body {
    background-color: #121212;
    color: #fff;
    font-family: sans-serif;
}

.card {
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

button {
    color: #fff;
}

small, div {
    color: #fff !important;
}

.name {
    font-size: 0.9rem;
    margin: 6px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}